<% provide(:title,@user.name) %>

		<div class="container">
			<h1><%= @user.name %>'s menu</h1>
			<!-- 他のモデルが表示されるかのテスト -->
			 <p><%= @traning.name %></p>
			 <p><%= @traning.description %></p>
			 <p><%= @traning.url %></p>
</div>


    	