<header>
    <nav class="nav">
        <div class="nav__wrapper">
            <div class="link__wrapper">
                <div class="nav__list nav__list--left logo">
                    <a href="" class=""></a>
                </div>

            </div>
        </div>
    </nav>
</header>
<main>
    <section>
        <div class="hero hero__bg">
            <div class="hero__wrapper">
                <div class="hero__message" style="color: #FFF; margin-bottom: 8px;">Welcome to Kintore Application </div>
                <a href="#modal_create" role="button" class="btn btn-lg btn-primary" data-toggle="modal">新規作成</a>
                <a href="#modal_login" role="button" class="btn btn-lg btn-primary" data-toggle="modal">ログイン</a>
                <%= render 'front/top/modal_create' %>
                <%= render 'front/top/modal_login' %>
                <%=%>
            </div>
        </div>
    </section>
</main>
