<header>
    <nav class="nav">
        <div class="nav__wrapper">
            <div class="link__wrapper">
                <div class="nav__list nav__list--left logo">
                    <a href="" class=""></a>
                </div>
                <div class="nav__list nav__list--right">
                    <li class="nav__item"><a href="" title="">HOME</a></li>
                    <li class="nav__item"><a href="" title="">PORTFORIO</a></li>
                    <li class="nav__item"><a href="" title="">ACCESS</a></li>
                    <li class="nav__item"><a href="" title="">CONTACT</a></li>
                    <li class="nav__item"><a href="" title="">CONTACT</a></li>
                </div>
            </div>
        </div>
    </nav>
</header>
<main>
    <section>
        <div class="hero hero__bg">
            <div class="hero__wrapper">
                <div class="hero__message">Praesent ac sem eget est egestas volutpat. Nullam accumsan lorem in dui.</div>
                <a href="#" class="hero__btn">いいね</a>
                <a href="#" class="hero__btn">いいね</a>
            </div>
        </div>
    </section>
</main>