@charset "utf-8";

/* リセット */
@import 'front/shared/reset';

/* プラグイン */
/*@import "font-awesome";*/
/*@import "bootstrap-sprockets";*/
@import "bootstrap";
/*=====================================
    variables
=======================================*/

@import "front/variables/base";
@import "front/variables/colors";
@import "front/variables/fonts";

/*=====================================
    helpers
=======================================*/

@import "front/variables/colors";
@import "front/variables/fonts";


/*=====================================
    mixins
=======================================*/

/*=====================================
    modules
=======================================*/

@import "front/modules/base";
@import "front/modules/header";
@import "front/modules/logo";
@import "front/modules/nav";
@import "front/modules/hero";
@import "front/modules/form";

/*=====================================
    components
=======================================*/

/* top */
@import "front/components/top/base";

.has-error.help-block.help-block-error {
    font-size: 14px;
}

.alert {
    float: right !important;
    padding-top: 30px !important;
}