<div class="panel panel-default">
  <div class="panel-heading">ベンチプレス</div>
  <div class="panel-body">
    大胸筋
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">レッグプレス</div>
  <div class="panel-body">
    大腿筋
  </div>
</div>
