<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu  " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <li>
                <a href="<%= admin_trainings_path %>">
                    <i class="fa-red icon-paper-plane"></i>
                    <span class="title">トレーニング一覧</span>
                    <span class="arrow "></span>
                </a>
            </li>
            <li>
                <a href="<%= admin_menus_path %>">
                    <i class="fa-red icon-paper-plane"></i>
                    <span class="title">メニュー一覧</span>
                    <span class="arrow "></span>
                </a>
            </li>
        </ul>
    </div>
</div>
